html {
  /* https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/. */
  margin-left: calc(100vw - 100%);
  background: var(--color-parchment);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.main-container {
  margin: 0 auto;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.post__date--separtor {
  display: none;
}

@media only screen
and (min-device-width: 768px) {
  .main-container {
    padding: 0 20px;
    min-width: 800px;
    width: 60%;
    /* flex-direction: row; */
  }

  .post__date--container {
    display: flex;
    gap: 8px;
  }

  .post__date--separtor {
    display: inline;
  }
}

.content-main {
  /* https://weblog.west-wind.com/posts/2016/feb/15/flexbox-containers-pre-tags-and-managing-overflow */
  min-width: 0;
  /* flex: 2; */
}

@media only screen
and (min-device-width: 768px) {
  .content-main  {
    padding: 0 20px;
    /* width: 80%; */
  }
}

.other-content {
  display: flex;
  justify-content: start;
}

@media only screen
and (min-device-width: 768px) {
  .other-content {
    /* width: 20%; */
    justify-content: end;
  }
}

.other-content-wrapper {
  padding: 20px 0px;
  position: sticky;
  /* https://stackoverflow.com/questions/44446671/my-position-sticky-element-isnt-sticky-when-using-flexbox#:~:text=Adding%20align%2Dself%3A%20flex%2D,allowed%20scrolling%2C%20and%20fixed%20it. */
  align-self: flex-start;
}

@media only screen
and (min-device-width: 768px) {
  .other-content-wrapper {
    padding: 20px 0 20px 10px;
    /* top: 0; */
  }
}


/* .text-align-center {
  text-align: center;
} */

@media only screen
and (min-device-width: 768px) {
  .d-text-align-center {
    text-align: center;
  }
}

.no-text-decoration {
  text-decoration: none;
}

.double-open-close-quote {
  quotes: "\201C""\201D""\2018""\2019";
}

.double-open-close-quote::before {
 content: open-quote;
}

.double-open-close-quote::after {
 content: close-quote;
}

/* a kind of a tags */

.underlined-anchor {
  text-decoration: underline;
  color: var(--navy);
}

/* .spotify--container {
  margin-top: 20px;
  display: flex;
  align-items: center;
} */

.spotify--text-container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.spotify--text-container > * {
  padding-top: 3px;
}

#spotify--song-link {
  text-decoration: none;
  border-bottom: 2px dotted var(--oceanblue);
  color: var(--navy);
  font-family: et-book, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.patreon-link {
  text-decoration: none;
  border-bottom: 2px dotted var(--oceanblue);
  color: var(--navy);
  font-family: et-book, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.patreon-link:hover {
  border-bottom: 2px solid var(--oceanblue);
}

.site-common-link {
  text-decoration: none;
  border-bottom: 2px dotted var(--oceanblue);
  color: var(--navy);
  font-family: et-book, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.site-common-link:hover {
  border-bottom: 2px solid var(--oceanblue);
}

.spotify--text-container a:hover {
  border-bottom: 2px solid var(--oceanblue);
}

.layout-hidden {
  opacity: 0;
  visibility: hidden;
}

.layout-show {
  opacity: 1;
  visibility: visible;
}

.post__heading {
  margin: 5px 0 20px 0;
}

@media only screen
and (min-device-width: 768px) {
  .post__heading {
    margin: 20px 0 20px 0;
  }
}

.sidebar-hr {
  border-color: var(--color-gray-80);
  margin: 10px 0;
}


@media only screen
and (min-device-width: 768px) {
  .sidebar-hr  {
    margin: 10px 50px;
  }
}

hr {
  color: gainsboro;
  border-width: 2px 0 0;
  margin: 50px auto;
  width: 70%;
}

picture br {
  display: none;
}

@media only screen
and (min-device-width: 768px) {
  hr {
    width: 50%;
    margin: 40px auto;
  }
}

.spotify--text-container {
  padding: 10px 0;
}

iframe {
  max-width: 100%;
}