
/* FONT FAMILIES */
.font-family-system {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.font-family-helvetica {
  font-family: Helvetica;
}

.font-family-impact {
  font-family: impact;
}

.font-family-garamond {
  font-family: Garamond;
}

.font-family-georgia {
  font-family: Georgia
}

/* FONT SIZES */

.font-size-xxxxlarge {
  font-size: 3rem;
}

.font-size-xxxlarge {
  font-size: 2rem;
}

.font-size-xxlarge {
  font-size: 1.5rem;
}

.font-size-xlarge {
  font-size: 1.25rem;
}

.font-size-large {
  font-size: 1.2rem;
}

.font-size-base {
  font-size: 1rem;
}

.font-size-small {
  font-size: 0.7875rem;
}

.font-weight-bold {
  font-weight: bold;
}

@media only screen
and (min-device-width: 768px) {
  /* DESKTOP SIZES */
  .d-font-size-xxxxlarge {
    font-size: 3rem;
  }

  .d-font-size-xxxlarge {
    font-size: 2rem;
  }

  .d-font-size-xxlarge {
    font-size: 1.5rem;
  }

  .d-font-size-xlarge {
    font-size: 1.25rem;
  }

  .d-font-size-large {
    font-size: 1.2rem;
  }

  .d-font-size-base {
    font-size: 1rem;
  }

  .d-font-size-small {
    font-size: 0.7875rem;
  }

  /* DESKTOP FONT FAMILIES */


/* FONT FAMILIES */
  .d-font-family-system {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .d-font-family-impact {
    font-family: impact;
  }

  .d-font-family-garamond {
    font-family: Garamond;
  }

  .d-font-family-georgia {
    font-family: Georgia
  }

  .d-font-family-helvetica {
    font-family: Helvetica;
  }
}

