.font-family-override-helvetica {
  font-family: Helvetica!important;
}

.font-family-override-impact {
  font-family: impact!important;
}

.font-family-override-garamond {
  font-family: Garamond!important;
}

.font-family-override-georgia {
  font-family: Georgia!important
}
