:root {
  --red: #c5004a;
  --darkred: #7f0036;
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
  --oceanblue: #26b2cf;
}

/* gray */
:root {
  /* --color-gray-00:  black; */
  /* --color-gray-10:  hsl(0, 0%, 10%); */
  /* --color-gray-20:  hsl(0, 0%, 20%); */
  /* --color-gray-30:  hsl(0, 0%, 30%); */
  --color-gray-40:  hsl(0, 0%, 40%);
  /* --color-gray-50:  hsl(0, 0%, 50%); */
  /* --color-gray-60:  hsl(0, 0%, 60%); */
  --color-gray-70:  hsl(0, 0%, 70%);
  /* --color-gray-80:  hsl(0, 0%, 80%); */
  --color-gray-90:  hsl(0, 0%, 90%);
  --color-gray-95:  hsl(0, 0%, 95%);
  /* --color-gray-100: white; */
}

* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Wotfard Bold";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/wotfard-regular-webfont.woff2") format("woff2")
}

@font-face {
  font-family: "Wotfard Normal";
  font-style: normal;
  font-display: swap;
  src: url("/fonts/wotfard-regular-webfont.woff2") format("woff2")
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: Garamond, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
.main-container {
  padding: 1rem 0 0;
  max-width: 675px;
  margin: auto;
}

.main-container :first-child {
  margin-top: 0;
}

header {
  border-bottom: 1px dashed var(--lightgray);
  font-size: 1.3rem;
}

.post__time-cell {
  display: none;
}

.post__date {
  color: var(--color-gray-40);
  padding: 2px 0;
}

table {
  margin: 1em 0;
}

.home__list-of-posts {
  margin: 0 auto;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  margin: 1rem 0 0 0;
  font-size: 3rem; /* 16px /16 */
  font-family: impact, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home a {
  font-size: 3rem; /* 16px /16 */
}

.home :link:not(:hover) {
  text-decoration: none;
}

.heading-generic {
  text-align: left;
  padding: 0 1.25rem;
  font-family: impact, Georgia, Garamond, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.heading__color {
  color: var(--oceanblue)!important; /* have to do important til global tag styles are removed*/
}

/* Nav */
.nav-container {
  display: inline-block;
}
.nav-list {
  padding: 0;
  list-style: none;
  margin-left: 1em;
  font-weight: 700;
  font-family:  Garamond, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;

  /* to prevent a slight flicker */
  border-bottom: 2px solid white;
  margin-bottom: -2px;
}

.double-open-close-quote {
   quotes: "\201C""\201D""\2018""\2019";
}

.double-open-close-quote::before {
  content: open-quote;
}

.double-open-close-quote::after {
  content: close-quote;
}

.nav-item a{
  text-decoration: none;
}

.nav-item a[href]:hover {
  text-decoration: none;
  color: var(--oceanblue);
}

.nav-item-active {
  font-weight: 700;
  border-bottom: 2px solid var(--oceanblue);
}

/* Post heading*/
.post-title {
  text-align: center;
}

.text-align__left {
  text-align: left;
}


.post-content {
  padding: 0 1.25rem;
  font-size: 1.3rem;
  counter-reset: footnotes;
}

.post-content [role="doc-noteref"] {
  text-decoration: none;
}

.post-content [role="doc-noteref"]::after {
  counter-increment: footnotes;
  content: '[' counter(footnotes) ']';
  vertical-align: super;
  font-size: 1rem;
  text-decoration: underline;
}

/* block quotes styling */
/* .post-content blockquote {
  background: var(--oceanblue);
  color: var(--color-gray-95);
  border-left: 10px solid #ccc;
  margin: 1.5em;
  padding: 1rem;
  quotes: "\201C""\201D""\2018""\2019";
}

.post-content blockquote:after {
  content: no-close-quote;
}

.post-content blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  font-family: Georgia, Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

/* ----------------------- */
.post-content blockquote {
  /* background: var(--color-gray-90); */
  /* border-left: 10px solid #ccc; */
  margin: 1rem;
  /* padding: 1rem; */
  quotes: "\201C""\201D""\2018""\2019";
}

.post-content blockquote:after {
  content: no-close-quote;
}

.post-content blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
  font-family: Georgia, Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-content blockquote p {
  display: inline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
}
.postlist-item {
  padding: 5px 10px;
  /* counter-increment: start-from -1; */
  /* display: flex; */
  /* text-align: center; */
  /* padding: 0.2rem 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-around; */
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  /* content: "" counter(start-from, decimal-leading-zero) ". "; */
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
  /* padding: 0 1rem; */
  /* flex: 1; */
}
.postlist-link {
  display: inline-block;
  padding: 0 1rem 0 0;
  text-decoration: none;
  /* flex: 3 */
}

.post-list-item__date-container {
  /* flex: 2;
  display: flex;
  align-items: center; */
  /* flex: 1 */
  flex: 1;
}

.post-list-item__title-container {
  flex: 3;
  /* max-width: 400px; */
}

.post-list-item__tags-container {
  /* flex: 1; */
  /* display: flex; */
  display: none;
}

.postlistitem__tags-container {
  /* flex: 1; */
  display: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.system-font {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postlist-link:hover {
  color: var(--oceanblue)!important;
  /* text-decoration: underline solid var(--oceanblue) 4px; */
}

.font0point625rem {
  font-size: 0.625rem;
}

.font1point1rem {
  font-size: 1.15rem;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

/* Tags */
.post-tag {
  /* vertical-align: text-top; */
  text-transform: uppercase;
  font-size: 0.625rem; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--oceanblue);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}


.georgia-font {
  font-family: Georgia, Garamond, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

[role="doc-endnotes"] {
  padding: 1.3rem;
}

@media only screen
  and (min-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2) {
    header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .postlist {
      max-width: 540px!important;
      margin: 0 auto;
    }

    .post-list-item__tags-container {
      display: inline-block;
    }

    .post-list-item__date-container {
      text-align: center;
    }

    .main-container {
      padding: 1rem;
    }

    .heading-generic {
      font-size: 2rem;
      text-align: center;
    }

    .home {
      font-size: 1.3rem;
      margin: 1rem 0;
    }

    .post-tag {
      display: inline-block;
      padding: 4px;
    };

    .postlist-link {
      padding: 0;
    }

    /* .post-content {
      font-size: 1.4rem;
    } */

    .nav-list a {
      font-family: Impact, Georgia, Garamond, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

      font-size: 1.5rem;
    }

}
