{% if not dontShowDate %}
  <div class="post__date--container font-size-base">
    <div class="post__date post__last-modified-date">
      <span>Last Modified: </span>
      <time datetime="{{ fileData.lastModified | htmlDateString }}">
        <em>
          {{ fileData.lastModified }}
        </em>
      </time>
    </div>

    <div class="post__date post__publish-date">
      <span>Published On: </span>
      <time datetime="{{ page.date | readableDate }}">
        <em>
          {{page.date | readableDate }}
        </em>
      </time>
    </div>
  </div>

  <hr>
{% endif %}
