<h2>Read More</h2>

<ul class="post__read-more--list font-size-xlarge">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}
    <li>
      <strong>Next:</strong>
      <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
    </li>
  {% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}
    <li>
      <strong>Previous:</strong>
      <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
    </li>
  {% endif %}
</ul>
