---
layout: layouts/base.njk
templateClass: tmpl-post
---

<section class="post__container font-family-system font-family-garamond">
  <h1 class="post__heading font-family-system font-family-override-impact font-family-helvetica d-font-family-impact color-dark-gray">{{ title }}</h1>

  <section class="post__content font-size-xlarge">
    {% include "./_dates.njk" %}

    <article>
      {{ content | safe }}

      {% if not dontShowShare%}
        {% twitterShareLink title, metadata.siteUrl + page.url, twitterRelated, twitterHashtags, twitterHandlesForText %}
      {% endif %}



      <div style="border: 2px solid var(--oceanblue); margin: 20px 0; padding: 1rem;">

        {% if newsletter === 'lit' %}
            <h2>
              If you enjoyed this {% if typeOfPost %} {{ typeOfPost }} {% else %} essay {% endif %} please consider subscribing to my literature newsletter
            </h2>
          {% newsletter "lit"%}
        {% endif %}


        {% if newsletter === 'tech' %}
            <h2>
              If you enjoyed this article please consider subscribing to my tech newsletter
            </h2>
          {% newsletter "tech"%}
        {% endif %}

      </div>

    </article>
  </section>

  {% if not dontShowReadMore %}
    <section class="post__read-more--container">
      {% include "./_prevnext.njk" %}
    </section>
  {% endif %}

  {% footnotes %}
<section>


