---
layout: layouts/main.webc
eleventyNavigation:
  key: Archive
  order: 3
---
{# change pemalink front end master to '/posts/' if I'd want archive #}

<h1 class="post__heading font-family-system font-family-override-impact font-family-helvetica d-font-family-impact color-dark-gray">Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
