---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 3
eleventyExcludeFromCollections: true
permalink: false
---
{# change pemalink front end master to '/posts/' if I'd want archive #}

<h1 class="heading-generic">Archive</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
