<!doctype html>
<html lang="en">
  <head>
    {% set absolutePageUrl %}{{ page.url | url | absoluteUrl(metadata.homeUrl) }}{% endset %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="author" content="{{ metadata.author.name }}">

    {# OPEN GRAPH TAGS #}

    {#
      TODO: be more precise with og:type 'article' namespace when you get time.
      reference — https://ogp.me/#types
    #}
    <meta property="og:type" content="{{ogType or 'website'}}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:url" content="{{ absolutePageUrl }}">
     {# TODO #}
    {# <meta property="og:img" content="${data.img}"> #}
    {# <meta property="og:img:alt" content="${data.img_alt}"> #}


    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">

    {# MISC | SEO #}

    <link rel="canonical" href="{{ absolutePageUrl }}"/>


    {# TWITTER META TAGS #}
    {% if image %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ image }}">
    {% else %}
      <meta name="twitter:card" content="summary">
    {% endif %}
    <meta name="twitter:site" content="@gdadsriver">
    <meta name="twitter:creator" content="@gdadsriver">
    <meta name="twitter:title" content="{{ title or metadata.title }}">

    {# RSS FEED #}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <meta name="twitter:description" content="{{ description or metadata.description }}">

    {# todo: find out what 'crossorigin' does #}
    <link rel="preload" as="font" href="/fonts/CascadiaCode.woff2" type="font/woff2">

    {# website css inline #}


    {% set css %}
      {# STYLE SHEETS #}
      {% include "../../css/remedy/remedy.css" %}
      {% include "../../css/remedy/reminders.css" %}
      {% include "../../css/colors.css" %}
      {% include "../../css/fonts.css" %}
      {% include "../../css/fonts-override.css" %}
      {% include "../../css/common.css" %}
      {% include "../../css/code.css" %}
      {% include "../../css/layout.css" %}
      {% include "../../css/header.css" %}
      {% include "../../css/post.css" %}
      {% include "../../css/post-list.css" %}
    {% endset %}

  {% if myProject.environment == "production" %}
    <style>{{ css | cssmin | safe }}</style>
  {% else %}
    <style>{{ css | safe }}</style>
  {% endif %}

  </head>
  <body>
    <div class="app">
      {# flex r-cent-hor r-cent-vert #}
      {% include "./_header.njk" %}

      <main{% if templateclass %} class="{{ templateClass }}" {% endif %} class="main-container">
        {{ content | safe }}
      </main>

      <footer></footer>

    </div>

    <!-- Current page: {{ page.url | url }} -->
  </body>

  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      const garamondIsAvailable = document.fonts && document.fonts.check("1.2rem Garamond");
      const selectorString = '.post__content';

      const selectors = document.querySelectorAll(selectorString)

      if (garamondIsAvailable) {
        Array.prototype.slice.call(selectors).forEach(node => {
          node.style.fontSize = "1.4rem";
        })
      }
    })
  </script>
</html>
