<!doctype html>
<html lang="en">
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% set absolutePageUrl %}{{ page.url | url | absoluteUrl(metadata.homeUrl) }}{% endset %} <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta
    name="author" content="{{ metadata.author.name }}"> {# OPEN GRAPH TAGS #}
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:type" content="{{ ogType or 'website' }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta
    property="og:url" content="{{ absolutePageUrl }}"> {# TODO #}
    <meta property="og:img" content="{{ coverImage or metadata.avatarImage }}">
    <meta
    property="og:img:alt" content="{{ coverImageAlt or 'Arihant Verma Website' }}"> {# MISC | SEO #}
    <link rel="canonical" href="{{ absolutePageUrl }}"/> {# TWITTER META TAGS #}
    {# {% if image %} #} <meta name="twitter:card" content="summary_large_image">
    <meta
    name="twitter:image" content="{{ coverImage or metadata.avatarImage }}"> {# {% else %}
            <meta name="twitter:card" content="summary">
          {% endif %} #}
    <meta name="twitter:site" content="@gdadsriver">
    <meta name="twitter:creator" content="@gdadsriver">
    <meta
    name="twitter:title" content="{{ title or metadata.title }}"> {# RSS FEED #}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <meta
    name="twitter:description" content="{{ description or metadata.description }}"> {# todo: find out what 'crossorigin' does #}
    <link rel="preload" as="font" href="/fonts/CascadiaCode.woff2" type="font/woff2"> {# website css inline #}
    <link rel="preload" as="font" href="/fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff2" type="font/woff2">
    <link rel="preload" as="font" href="/fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff2" type="font/woff2">
    <link rel="preload" as="font" href="/fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff2" type="font/woff2">

    {% set css %}
    {% include "../../css/remedy/remedy.css" %}
    {% include "../../css/remedy/reminders.css" %}
    {% include "../../css/colors.css" %}
    {% include "../../css/fonts.css" %}
    {% include "../../css/fonts-override.css" %}
    {% include "../../css/common.css" %}
    {% include "../../css/layout.css" %}
    {% include "../../css/header.css" %}
    {% include "../../css/post.css" %}
    {% include "../../css/post-list.css" %}
    {% include "../../css/prism-base16-monokai.dark.css" %}
    {% include "../../css/code.css" %}
    {% endset %}
    {% if envdata.environment == "production" %}
      <style>{{css | cssmin | safe}}</style>
    {% else %}
    <link rel="stylesheet" href="{{ '/css/remedy/remedy.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/remedy/reminders.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/colors.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/fonts.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/fonts-override.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/common.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/layout.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/header.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/post.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/post-list.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/code.css' | url }}">
    {% endif %}
    <script defer src="/assets/site-main.js"></script>
  </head>
  <body>
    <div
      class="app">
      {# flex r-cent-hor r-cent-vert #}
      {% include "./_header.njk" %}


    {% if templateClass %}
      {% set conditionalMainClass = templateClass %}
    {% endif %}

    {% set isPostPage = templateClass == "tmpl-post" %}

    {% if isPostPage %}
      {% set maxWidthClass = "max-width-60rem" %}
    {% else %}
      {% set maxWidthClass = "max-width-50rem" %}
    {% endif %}

      <main
      class="main-container {{maxWidthClass}} {{conditionalMainClass}}">
        <aside class="other-content">
          <div class="other-content-wrapper">
            {% include "./_spotify.njk" %}

            <hr class="sidebar-hr" />

            <div>
              <h2 style="margin: 0;" class="font-family-impact font-size-xlarge">Support Me</h2>
              <a class="patreon-link" href="https://patreon.com/arihantverma" rel="noopener noreferrer" target="_blank">
                Patreon
              </a>
            </div>
          </div>
        </aside>

        <section class="content-main">
          {{ content | safe }}
        </section>
      </main>


      <footer></footer>
    </div>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
